In [2]:
import pandas as pd
from sqlalchemy import create_engine
import csv
import os.path
import os

cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory

In [3]:
csv_file=f"{cwd}/Resources/student_loan_debt.csv"
student_loan_data = pd.read_csv(csv_file)
student_loan_data.head()

# Share with student loan debt (%)
# Median student loan debt ($)
# Share student loan holders with student loan debt in collections (%)
# Median student loan debt in collections ($)
# Median monthly student loan payment ($)
# Share people with a credit record who have student loan debt in collections (%)
# Nonwhite population share (%)
# Share without a bachelor's degree (%)
# Average household income ($)

student_loan_data.head()

,Unnamed: 0,Unnamed: 1,Share with student loan debt,Unnamed: 3,Unnamed: 4,Unnamed: 5,Median student loan debt,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Nonwhite population share,Unnamed: 27,Share without a bachelor's degree,Unnamed: 29,Unnamed: 30,Unnamed: 31,Average household income,Unnamed: 33,Unnamed: 34
0,County,State,Overall,White areas,Nonwhite areas,NaN,Overall,White areas,Nonwhite areas,NaN,...,NaN,NaN,NaN,Overall,White,Nonwhite,NaN,Overall,White,Nonwhite
1,Autauga County,Alabama,16%,17%,n/a*,NaN,"$19,441","$19,700",n/a*,NaN,...,NaN,24%,NaN,77%,75%,84%,NaN,"$64,765","$69,780","$45,981"
2,Baldwin County,Alabama,14%,14%,n/a*,NaN,"$13,964","$14,000",n/a*,NaN,...,NaN,17%,NaN,71%,69%,79%,NaN,"$73,408","$75,745","$56,869"
3,Barbour County,Alabama,10%,n/a*,n/a*,NaN,n/a*,n/a*,n/a*,NaN,...,NaN,54%,NaN,87%,81%,94%,NaN,"$44,688","$56,667","$32,238"
4,Bibb County,Alabama,11%,11%,9%,NaN,n/a*,n/a*,n/a*,NaN,...,NaN,25%,NaN,89%,89%,90%,NaN,"$52,241","$55,419","$38,111"

In [4]:
student_loan_df = student_loan_data[['Unnamed: 0','Unnamed: 1',
                                     'Unnamed: 7','Unnamed: 8',
                                     'Unnamed: 15','Unnamed: 16',
                                     'Unnamed: 19','Unnamed: 20',
                                     'Unnamed: 33','Unnamed: 34'
                                   ]].copy()

student_loan_df=student_loan_df.rename(columns={'Unnamed: 0':'County',
                                              'Unnamed: 1':'State',
                                              'Unnamed: 7':'Median Loan White',
                                              'Unnamed: 8':'Median Loan Nonwhite',
                                              'Unnamed: 15':'In Collection Loan White',
                                              'Unnamed: 16':'In Collection Loan Nonwhite',
                                              'Unnamed: 19':'Median Monthly Payment White',
                                              'Unnamed: 20':'Median Monthly Payment Nonwhite',
                                              'Unnamed: 33':'Avg Household Income White',
                                              'Unnamed: 34':'Avg Household Income Nonwhite'
                                             })
student_loan_df.head()

,County,State,Median Loan White,Median Loan Nonwhite,In Collection Loan White,In Collection Loan Nonwhite,Median Monthly Payment White,Median Monthly Payment Nonwhite,Avg Household Income White,Avg Household Income Nonwhite
0,County,State,White areas,Nonwhite areas,White areas,Nonwhite areas,White areas,Nonwhite areas,White,Nonwhite
1,Autauga County,Alabama,"$19,700",n/a*,n/a*,n/a*,$221,n/a*,"$69,780","$45,981"
2,Baldwin County,Alabama,"$14,000",n/a*,"$7,890",n/a*,$164,n/a*,"$75,745","$56,869"
3,Barbour County,Alabama,n/a*,n/a*,n/a*,n/a*,n/a*,n/a*,"$56,667","$32,238"
4,Bibb County,Alabama,n/a*,n/a*,n/a*,n/a*,n/a*,n/a*,"$55,419","$38,111"

In [5]:
# drop columns that have NAN
student_loan_df = student_loan_df.dropna()
student_loan_df.head()

,County,State,Median Loan White,Median Loan Nonwhite,In Collection Loan White,In Collection Loan Nonwhite,Median Monthly Payment White,Median Monthly Payment Nonwhite,Avg Household Income White,Avg Household Income Nonwhite
0,County,State,White areas,Nonwhite areas,White areas,Nonwhite areas,White areas,Nonwhite areas,White,Nonwhite
1,Autauga County,Alabama,"$19,700",n/a*,n/a*,n/a*,$221,n/a*,"$69,780","$45,981"
2,Baldwin County,Alabama,"$14,000",n/a*,"$7,890",n/a*,$164,n/a*,"$75,745","$56,869"
3,Barbour County,Alabama,n/a*,n/a*,n/a*,n/a*,n/a*,n/a*,"$56,667","$32,238"
4,Bibb County,Alabama,n/a*,n/a*,n/a*,n/a*,n/a*,n/a*,"$55,419","$38,111"

In [6]:
# drop first row that has the column names 
student_loan_df = student_loan_df.drop([0])
student_loan_df.head()

,County,State,Median Loan White,Median Loan Nonwhite,In Collection Loan White,In Collection Loan Nonwhite,Median Monthly Payment White,Median Monthly Payment Nonwhite,Avg Household Income White,Avg Household Income Nonwhite
1,Autauga County,Alabama,"$19,700",n/a*,n/a*,n/a*,$221,n/a*,"$69,780","$45,981"
2,Baldwin County,Alabama,"$14,000",n/a*,"$7,890",n/a*,$164,n/a*,"$75,745","$56,869"
3,Barbour County,Alabama,n/a*,n/a*,n/a*,n/a*,n/a*,n/a*,"$56,667","$32,238"
4,Bibb County,Alabama,n/a*,n/a*,n/a*,n/a*,n/a*,n/a*,"$55,419","$38,111"
5,Blount County,Alabama,"$11,128",n/a*,n/a*,n/a*,$129,n/a*,"$56,150","$40,938"

In [7]:
# select all rows that does not have  Median Loans for both White and Nonwhite

select_rows = student_loan_df[student_loan_df['Median Loan White'].isin(['n/a*', 'n/a**']) &
                         student_loan_df['Median Loan Nonwhite'].isin(['n/a*', 'n/a**']) 
                        ]

index_list = select_rows.index.values  

for index in index_list:
    student_loan_df = student_loan_df.drop([index])
student_loan_df

,County,State,Median Loan White,Median Loan Nonwhite,In Collection Loan White,In Collection Loan Nonwhite,Median Monthly Payment White,Median Monthly Payment Nonwhite,Avg Household Income White,Avg Household Income Nonwhite
1,Autauga County,Alabama,"$19,700",n/a*,n/a*,n/a*,$221,n/a*,"$69,780","$45,981"
2,Baldwin County,Alabama,"$14,000",n/a*,"$7,890",n/a*,$164,n/a*,"$75,745","$56,869"
5,Blount County,Alabama,"$11,128",n/a*,n/a*,n/a*,$129,n/a*,"$56,150","$40,938"
8,Calhoun County,Alabama,"$17,042",n/a**,n/a*,n/a**,$133,n/a**,"$58,370","$38,181"
11,Chilton County,Alabama,"$11,611",n/a**,n/a*,n/a**,n/a*,n/a**,"$57,761","$43,808"
...,...,...,...,...,...,...,...,...,...,...
3128,Laramie County,Wyoming,"$14,845",n/a**,n/a*,n/a**,$160,n/a**,"$83,100","$64,606"
3130,Natrona County,Wyoming,"$15,277",n/a**,n/a*,n/a**,$152,n/a**,"$75,747","$45,026"
3132,Park County,Wyoming,"$11,769",n/a**,n/a*,n/a**,n/a*,n/a**,"$70,811","$45,893"
3134,Sheridan County,Wyoming,"$10,079",n/a**,n/a*,n/a**,n/a*,n/a**,"$69,873","$50,455"
3136,Sweetwater County,Wyoming,"$10,551",n/a**,n/a*,n/a**,$105,n/a**,"$82,071","$63,631"

In [8]:
student_loan_df.columns

Index(['County', 'State', 'Median Loan White', 'Median Loan Nonwhite',
       'In Collection Loan White', 'In Collection Loan Nonwhite',
       'Median Monthly Payment White', 'Median Monthly Payment Nonwhite',
       'Avg Household Income White', 'Avg Household Income Nonwhite'],
      dtype='object')