In [1]:
import pandas as pd
from sqlalchemy import create_engine
import csv
import os.path
import os

cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory

In [2]:
csv_file=f"{cwd}/Resources/student_loan_debt.csv"
student_loan_data = pd.read_csv(csv_file)
student_loan_data.head()
student_loan_data.head()

,Unnamed: 0,Unnamed: 1,Share with student loan debt,Unnamed: 3,Unnamed: 4,Unnamed: 5,Median student loan debt,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Nonwhite population share,Unnamed: 27,Share without a bachelor's degree,Unnamed: 29,Unnamed: 30,Unnamed: 31,Average household income,Unnamed: 33,Unnamed: 34
0,County,State,Overall,White areas,Nonwhite areas,NaN,Overall,White areas,Nonwhite areas,NaN,...,NaN,NaN,NaN,Overall,White,Nonwhite,NaN,Overall,White,Nonwhite
1,Autauga County,Alabama,16%,17%,n/a*,NaN,"$19,441","$19,700",n/a*,NaN,...,NaN,24%,NaN,77%,75%,84%,NaN,"$64,765","$69,780","$45,981"
2,Baldwin County,Alabama,14%,14%,n/a*,NaN,"$13,964","$14,000",n/a*,NaN,...,NaN,17%,NaN,71%,69%,79%,NaN,"$73,408","$75,745","$56,869"
3,Barbour County,Alabama,10%,n/a*,n/a*,NaN,n/a*,n/a*,n/a*,NaN,...,NaN,54%,NaN,87%,81%,94%,NaN,"$44,688","$56,667","$32,238"
4,Bibb County,Alabama,11%,11%,9%,NaN,n/a*,n/a*,n/a*,NaN,...,NaN,25%,NaN,89%,89%,90%,NaN,"$52,241","$55,419","$38,111"

In [3]:
student_loan_df = student_loan_data[['Unnamed: 0','Unnamed: 1',
                                     'Unnamed: 7','Unnamed: 8',
                                     'Unnamed: 15','Unnamed: 16',
                                     'Unnamed: 19','Unnamed: 20',
                                     'Unnamed: 33','Unnamed: 34'
                                   ]].copy()

student_loan_df=student_loan_df.rename(columns={'Unnamed: 0':'County',
                                              'Unnamed: 1':'State',
                                              'Unnamed: 7':'Median Loan White',
                                              'Unnamed: 8':'Median Loan Nonwhite',
                                              'Unnamed: 15':'In Collection Loan White',
                                              'Unnamed: 16':'In Collection Loan Nonwhite',
                                              'Unnamed: 19':'Median Monthly Payment White',
                                              'Unnamed: 20':'Median Monthly Payment Nonwhite',
                                              'Unnamed: 33':'Avg Household Income White',
                                              'Unnamed: 34':'Avg Household Income Nonwhite'
                                             })
student_loan_df.head()

,County,State,Median Loan White,Median Loan Nonwhite,In Collection Loan White,In Collection Loan Nonwhite,Median Monthly Payment White,Median Monthly Payment Nonwhite,Avg Household Income White,Avg Household Income Nonwhite
0,County,State,White areas,Nonwhite areas,White areas,Nonwhite areas,White areas,Nonwhite areas,White,Nonwhite
1,Autauga County,Alabama,"$19,700",n/a*,n/a*,n/a*,$221,n/a*,"$69,780","$45,981"
2,Baldwin County,Alabama,"$14,000",n/a*,"$7,890",n/a*,$164,n/a*,"$75,745","$56,869"
3,Barbour County,Alabama,n/a*,n/a*,n/a*,n/a*,n/a*,n/a*,"$56,667","$32,238"
4,Bibb County,Alabama,n/a*,n/a*,n/a*,n/a*,n/a*,n/a*,"$55,419","$38,111"

In [4]:
# drop columns that have NAN
student_loan_df = student_loan_df.dropna()
student_loan_df.head()

,County,State,Median Loan White,Median Loan Nonwhite,In Collection Loan White,In Collection Loan Nonwhite,Median Monthly Payment White,Median Monthly Payment Nonwhite,Avg Household Income White,Avg Household Income Nonwhite
0,County,State,White areas,Nonwhite areas,White areas,Nonwhite areas,White areas,Nonwhite areas,White,Nonwhite
1,Autauga County,Alabama,"$19,700",n/a*,n/a*,n/a*,$221,n/a*,"$69,780","$45,981"
2,Baldwin County,Alabama,"$14,000",n/a*,"$7,890",n/a*,$164,n/a*,"$75,745","$56,869"
3,Barbour County,Alabama,n/a*,n/a*,n/a*,n/a*,n/a*,n/a*,"$56,667","$32,238"
4,Bibb County,Alabama,n/a*,n/a*,n/a*,n/a*,n/a*,n/a*,"$55,419","$38,111"

In [5]:
# drop first row that has the column names 
student_loan_df = student_loan_df.drop([0])
student_loan_df.head()

,County,State,Median Loan White,Median Loan Nonwhite,In Collection Loan White,In Collection Loan Nonwhite,Median Monthly Payment White,Median Monthly Payment Nonwhite,Avg Household Income White,Avg Household Income Nonwhite
1,Autauga County,Alabama,"$19,700",n/a*,n/a*,n/a*,$221,n/a*,"$69,780","$45,981"
2,Baldwin County,Alabama,"$14,000",n/a*,"$7,890",n/a*,$164,n/a*,"$75,745","$56,869"
3,Barbour County,Alabama,n/a*,n/a*,n/a*,n/a*,n/a*,n/a*,"$56,667","$32,238"
4,Bibb County,Alabama,n/a*,n/a*,n/a*,n/a*,n/a*,n/a*,"$55,419","$38,111"
5,Blount County,Alabama,"$11,128",n/a*,n/a*,n/a*,$129,n/a*,"$56,150","$40,938"

In [6]:
# select all rows that does not have  Median Loans for both White and Nonwhite

select_rows = student_loan_df[student_loan_df['Median Loan White'].isin(['n/a*', 'n/a**']) &
                         student_loan_df['Median Loan Nonwhite'].isin(['n/a*', 'n/a**']) 
                        ]

index_list = select_rows.index.values  

for index in index_list:
    student_loan_df = student_loan_df.drop([index])
student_loan_df

,County,State,Median Loan White,Median Loan Nonwhite,In Collection Loan White,In Collection Loan Nonwhite,Median Monthly Payment White,Median Monthly Payment Nonwhite,Avg Household Income White,Avg Household Income Nonwhite
1,Autauga County,Alabama,"$19,700",n/a*,n/a*,n/a*,$221,n/a*,"$69,780","$45,981"
2,Baldwin County,Alabama,"$14,000",n/a*,"$7,890",n/a*,$164,n/a*,"$75,745","$56,869"
5,Blount County,Alabama,"$11,128",n/a*,n/a*,n/a*,$129,n/a*,"$56,150","$40,938"
8,Calhoun County,Alabama,"$17,042",n/a**,n/a*,n/a**,$133,n/a**,"$58,370","$38,181"
11,Chilton County,Alabama,"$11,611",n/a**,n/a*,n/a**,n/a*,n/a**,"$57,761","$43,808"
16,Coffee County,Alabama,"$16,484",n/a**,n/a*,n/a**,$176,n/a**,"$66,450","$51,435"
17,Colbert County,Alabama,"$14,044",n/a**,n/a*,n/a**,$131,n/a**,"$56,042","$41,736"
20,Covington County,Alabama,"$14,063",n/a*,n/a*,n/a*,n/a*,n/a*,"$53,833","$34,125"
22,Cullman County,Alabama,"$12,578",n/a**,n/a*,n/a**,$119,n/a**,"$49,251","$44,245"
23,Dale County,Alabama,"$13,322",n/a**,n/a*,n/a**,n/a*,n/a**,"$61,068","$40,916"
24,Dallas County,Alabama,n/a*,"$16,708",n/a*,n/a*,n/a*,n/a*,"$71,453","$31,290"
25,DeKalb County,Alabama,"$10,887",n/a**,n/a*,n/a**,n/a*,n/a**,"$50,925","$31,567"
26,Elmore County,Alabama,"$15,248",n/a**,n/a*,n/a**,$160,n/a**,"$78,906","$51,994"
28,Etowah County,Alabama,"$14,938",n/a**,n/a*,n/a**,$144,n/a**,"$54,686","$45,137"
35,Houston County,Alabama,"$18,102",n/a**,n/a*,n/a**,$167,n/a**,"$72,079","$40,179"
36,Jackson County,Alabama,"$12,231",n/a**,n/a*,n/a**,n/a*,n/a**,"$49,389","$43,508"
37,Jefferson County,Alabama,"$22,361","$16,805","$8,976","$8,958",$186,$147,"$88,766","$46,069"
39,Lauderdale County,Alabama,"$14,384",n/a**,n/a*,n/a**,$136,n/a**,"$62,086","$43,721"
41,Lee County,Alabama,"$23,969",n/a*,n/a*,n/a*,$188,n/a*,"$70,405","$45,860"
42,Limestone County,Alabama,"$12,394",n/a**,n/a*,n/a**,$114,n/a**,"$70,303","$86,186"
44,Macon County,Alabama,n/a*,"$27,215",n/a*,n/a*,n/a*,n/a*,"$49,491","$40,212"
45,Madison County,Alabama,"$18,920","$17,083","$12,554",n/a*,$172,$147,"$87,166","$62,751"
48,Marshall County,Alabama,"$9,986",n/a**,n/a*,n/a**,$107,n/a**,"$63,718","$33,207"
49,Mobile County,Alabama,"$17,079","$14,603","$6,505","$4,007",$144,$127,"$71,437","$42,426"
51,Montgomery County,Alabama,"$20,422","$19,067",n/a*,"$6,344",$144,$171,"$84,500","$47,340"
52,Morgan County,Alabama,"$11,185",n/a**,n/a*,n/a**,$148,n/a**,"$67,964","$42,134"
58,St. Clair County,Alabama,"$19,179",n/a**,n/a*,n/a**,$151,n/a**,"$64,488","$64,423"
59,Shelby County,Alabama,"$19,005",n/a*,"$9,067",n/a*,$166,n/a*,"$95,053","$79,027"
61,Talladega County,Alabama,"$12,125",n/a**,n/a*,n/a**,n/a*,n/a**,"$54,473","$43,435"
63,Tuscaloosa County,Alabama,"$17,191",n/a*,n/a*,n/a*,$143,n/a*,"$74,807","$46,491"
...,...,...,...,...,...,...,...,...,...,...
3087,Monroe County,Wisconsin,"$14,241",n/a**,n/a*,n/a**,$153,n/a**,"$59,657","$59,301"
3088,Oconto County,Wisconsin,"$12,112",n/a**,n/a*,n/a**,n/a*,n/a**,"$64,208","$68,983"
3089,Oneida County,Wisconsin,"$9,943",n/a*,n/a*,n/a*,$113,n/a*,"$59,741","$48,986"
3090,Outagamie County,Wisconsin,"$13,712",n/a**,n/a*,n/a**,$165,n/a**,"$73,858","$59,331"
3091,Ozaukee County,Wisconsin,"$19,461",n/a**,n/a*,n/a**,$189,n/a**,"$111,701","$98,799"
3093,Pierce County,Wisconsin,"$18,087",n/a**,n/a*,n/a**,$157,n/a**,"$77,393","$52,635"
3094,Polk County,Wisconsin,"$13,546",n/a**,n/a*,n/a**,$148,n/a**,"$63,494","$51,304"
3095,Portage County,Wisconsin,"$11,992",n/a**,n/a*,n/a**,$142,n/a**,"$73,164","$36,374"
3097,Racine County,Wisconsin,"$14,472",n/a*,n/a*,n/a*,$189,n/a*,"$80,006","$46,970"
3099,Rock County,Wisconsin,"$13,012",n/a**,"$4,454",n/a**,$152,n/a**,"$67,496","$49,976"
3101,St. Croix County,Wisconsin,"$16,848",n/a**,n/a*,n/a**,$158,n/a**,"$84,194","$82,090"
3102,Sauk County,Wisconsin,"$15,642",n/a**,n/a*,n/a**,$150,n/a**,"$62,862","$71,329"
3104,Shawano County,Wisconsin,"$17,352",n/a*,n/a*,n/a*,n/a*,n/a*,"$60,424","$46,755"
3105,Sheboygan County,Wisconsin,"$14,102",n/a**,n/a*,n/a**,$161,n/a**,"$69,307","$61,499"
3107,Trempealeau County,Wisconsin,"$10,750",n/a**,n/a*,n/a**,n/a*,n/a**,"$63,477","$47,627"
3108,Vernon County,Wisconsin,"$15,512",n/a**,n/a*,n/a**,n/a*,n/a**,"$61,171","$52,330"
3110,Walworth County,Wisconsin,"$14,461",n/a**,n/a*,n/a**,$152,n/a**,"$71,967","$53,027"
3112,Washington County,Wisconsin,"$14,537",n/a**,n/a*,n/a**,$178,n/a**,"$82,254","$72,947"
3113,Waukesha County,Wisconsin,"$16,348",n/a*,"$6,453",n/a*,$191,n/a*,"$101,880","$104,251"
3114,Waupaca County,Wisconsin,"$12,731",n/a**,n/a*,n/a**,$118,n/a**,"$64,812","$47,279"
3116,Winnebago County,Wisconsin,"$14,772",n/a**,"$6,818",n/a**,$140,n/a**,"$69,780","$49,253"
3117,Wood County,Wisconsin,"$11,541",n/a**,n/a*,n/a**,$139,n/a**,"$60,847","$102,425"
3118,Albany County,Wyoming,"$19,414",n/a**,n/a*,n/a**,$188,n/a**,"$61,188","$46,853"
3120,Campbell County,Wyoming,"$12,196",n/a**,n/a*,n/a**,$161,n/a**,"$91,882","$73,898"
3124,Fremont County,Wyoming,"$18,716",n/a*,n/a*,n/a*,n/a*,n/a*,"$67,897","$53,724"
3128,Laramie County,Wyoming,"$14,845",n/a**,n/a*,n/a**,$160,n/a**,"$83,100","$64,606"
3130,Natrona County,Wyoming,"$15,277",n/a**,n/a*,n/a**,$152,n/a**,"$75,747","$45,026"
3132,Park County,Wyoming,"$11,769",n/a**,n/a*,n/a**,n/a*,n/a**,"$70,811","$45,893"
3134,Sheridan County,Wyoming,"$10,079",n/a**,n/a*,n/a**,n/a*,n/a**,"$69,873","$50,455"
3136,Sweetwater County,Wyoming,"$10,551",n/a**,n/a*,n/a**,$105,n/a**,"$82,071","$63,631"

In [7]:
# connect to the databse
# rds_connection_string = "<>:<password>@localhost:53577/students_loan_db"
import psycopg2 as pg
import pandas.io.sql as psql

connection_string = "joumana:*****@localhost:5432/student_loan_db"
engine = create_engine(f'postgresql://{connection_string}')

In [8]:
student_loan_df.to_sql(name='student_loan', con=engine, if_exists='append', index=False)

In [9]:
csv_file=f"{cwd}/Resources/ACSST1Y2016.S1501_data_with_overlays_2019-10-30T152810.csv"
ACS_education_data = pd.read_csv(csv_file)
ACS_education_data.head()

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C01_002E,S1501_C01_002M,S1501_C01_003E,S1501_C01_003M,S1501_C01_004E,S1501_C01_004M,...,S1501_C06_060E,S1501_C06_060M,S1501_C06_061E,S1501_C06_061M,S1501_C06_062E,S1501_C06_062M,S1501_C06_063E,S1501_C06_063M,S1501_C06_064E,S1501_C06_064M
0,id,Geographic Area Name,Total!!Estimate!!Population 18 to 24 years,Total!!Margin of Error!!Population 18 to 24 years,Total!!Estimate!!Population 18 to 24 years!!Le...,Total!!Margin of Error!!Population 18 to 24 ye...,Total!!Estimate!!Population 18 to 24 years!!Hi...,Total!!Margin of Error!!Population 18 to 24 ye...,Total!!Estimate!!Population 18 to 24 years!!So...,Total!!Margin of Error!!Population 18 to 24 ye...,...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...
1,0500000US01003,"Baldwin County, Alabama",15621,1652,3250,1219,3999,1248,7174,1721,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,0500000US01015,"Calhoun County, Alabama",11440,736,1398,601,4053,925,4918,1028,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,0500000US01043,"Cullman County, Alabama",7002,420,1852,542,2341,578,2579,552,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,0500000US01049,"DeKalb County, Alabama",5564,706,718,512,2227,833,2595,618,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [10]:
ACS_education_data = ACS_education_data.drop([0])
ACS_education_data.head()

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C01_002E,S1501_C01_002M,S1501_C01_003E,S1501_C01_003M,S1501_C01_004E,S1501_C01_004M,...,S1501_C06_060E,S1501_C06_060M,S1501_C06_061E,S1501_C06_061M,S1501_C06_062E,S1501_C06_062M,S1501_C06_063E,S1501_C06_063M,S1501_C06_064E,S1501_C06_064M
1,0500000US01003,"Baldwin County, Alabama",15621,1652,3250,1219,3999,1248,7174,1721,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,0500000US01015,"Calhoun County, Alabama",11440,736,1398,601,4053,925,4918,1028,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,0500000US01043,"Cullman County, Alabama",7002,420,1852,542,2341,578,2579,552,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,0500000US01049,"DeKalb County, Alabama",5564,706,718,512,2227,833,2595,618,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
5,0500000US01051,"Elmore County, Alabama",6948,952,965,423,3203,1190,2462,826,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [11]:
df = ACS_education_data

df['county'] = df['NAME'].apply(lambda x: x.split(', ')[0])
df['state'] = df['NAME'].apply(lambda x: x.split(', ')[1])

df.head()

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C01_002E,S1501_C01_002M,S1501_C01_003E,S1501_C01_003M,S1501_C01_004E,S1501_C01_004M,...,S1501_C06_061E,S1501_C06_061M,S1501_C06_062E,S1501_C06_062M,S1501_C06_063E,S1501_C06_063M,S1501_C06_064E,S1501_C06_064M,county,state
1,0500000US01003,"Baldwin County, Alabama",15621,1652,3250,1219,3999,1248,7174,1721,...,(X),(X),(X),(X),(X),(X),(X),(X),Baldwin County,Alabama
2,0500000US01015,"Calhoun County, Alabama",11440,736,1398,601,4053,925,4918,1028,...,(X),(X),(X),(X),(X),(X),(X),(X),Calhoun County,Alabama
3,0500000US01043,"Cullman County, Alabama",7002,420,1852,542,2341,578,2579,552,...,(X),(X),(X),(X),(X),(X),(X),(X),Cullman County,Alabama
4,0500000US01049,"DeKalb County, Alabama",5564,706,718,512,2227,833,2595,618,...,(X),(X),(X),(X),(X),(X),(X),(X),DeKalb County,Alabama
5,0500000US01051,"Elmore County, Alabama",6948,952,965,423,3203,1190,2462,826,...,(X),(X),(X),(X),(X),(X),(X),(X),Elmore County,Alabama

In [12]:
ACS_education_df = ACS_education_data[['GEO_ID', 'county','state', 'S1501_C01_001E', 'S1501_C01_004E', 'S1501_C01_005E',
                                     'S1501_C01_006E', 'S1501_C01_010E', 'S1501_C01_011E', 'S1501_C01_012E',
                                     'S1501_C01_013E','S1501_C02_001E', 'S1501_C02_004E', 'S1501_C02_005E',
                                     'S1501_C02_006E', 'S1501_C02_010E', 'S1501_C02_011E', 'S1501_C02_012E',
                                     'S1501_C02_013E']].copy()

ACS_education_df = ACS_education_df.rename(columns={'GEO_ID': 'GEO_ID'
                                                    , 'county': 'County'
                                                    , 'state': 'State'
                                                    , 'S1501_C01_001E': 'Pop_est_18-24' 
                                                    , 'S1501_C01_004E': 'Pop_est_18-24_some_college'
                                                    , 'S1501_C01_005E': 'Pop_est_18-24_Bachelor_degree'
                                                    , 'S1501_C01_006E': 'Pop_est_25+'
                                                    , 'S1501_C01_010E': 'Pop_est_25+_some_college'
                                                    , 'S1501_C01_011E': 'Pop_est_25+_Assoc_degree'
                                                    , 'S1501_C01_012E': 'Pop_est_25+_Bachelor_degree'
                                                    , 'S1501_C01_013E': 'Pop_est_25+_Graduate_degree'
                                                    , 'S1501_C02_001E': 'Pct_est_18-24' 
                                                    , 'S1501_C02_004E': 'Pct_est_18-24_some_college'
                                                    , 'S1501_C02_005E': 'Pct_est_18-24_Bachelor_degree'
                                                    , 'S1501_C02_006E': 'Pct_est_25+'
                                                    , 'S1501_C02_010E': 'Pct_est_25+_some_college'
                                                    , 'S1501_C02_011E': 'Pct_est_25+_Assoc_degree'
                                                    , 'S1501_C02_012E': 'Pct_est_25+_Bachelor_degree'
                                                    , 'S1501_C02_013E': 'Pct_est_25+_Graduate_degree'})
                                                     

ACS_education_df.head()

,GEO_ID,County,State,Pop_est_18-24,Pop_est_18-24_some_college,Pop_est_18-24_Bachelor_degree,Pop_est_25+,Pop_est_25+_some_college,Pop_est_25+_Assoc_degree,Pop_est_25+_Bachelor_degree,Pop_est_25+_Graduate_degree,Pct_est_18-24,Pct_est_18-24_some_college,Pct_est_18-24_Bachelor_degree,Pct_est_25+,Pct_est_25+_some_college,Pct_est_25+_Assoc_degree,Pct_est_25+_Bachelor_degree,Pct_est_25+_Graduate_degree
1,0500000US01003,Baldwin County,Alabama,15621,7174,1198,146987,31210,15580,25524,18023,(X),45.9,7.7,(X),21.2,10.6,17.4,12.3
2,0500000US01015,Calhoun County,Alabama,11440,4918,1071,78218,21172,5453,7295,5614,(X),43.0,9.4,(X),27.1,7.0,9.3,7.2
3,0500000US01043,Cullman County,Alabama,7002,2579,230,57469,10535,5733,6575,3157,(X),36.8,3.3,(X),18.3,10.0,11.4,5.5
4,0500000US01049,DeKalb County,Alabama,5564,2595,24,48227,10648,4671,3259,1984,(X),46.6,0.4,(X),22.1,9.7,6.8,4.1
5,0500000US01051,Elmore County,Alabama,6948,2462,318,56224,12005,5113,8896,5749,(X),35.4,4.6,(X),21.4,9.1,15.8,10.2

In [16]:
ACS_education_df.to_sql(name='acs_education', con=engine, if_exists='append', index=False)